@font-face {
    font-family: viafont;
    src: url(Viafont.ttf)

}

body {
    margin: 50;
    font-family: viafont;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    h2, p, h1 {
    color: Thistle;
    text-align: center;
    }
}