@font-face {
    font-family: viafont;
    src: url(Viafont.ttf)

}

body {
    margin: 100;
    font-family: viafont;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    p, h1 {
    color: Thistle;
        }
}